<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>JWDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>InitServletDemo</servlet-name>
    <servlet-class>com.java.javaweb.servlet.InitServletDemo</servlet-class>
    <init-param>
      <param-name>name:</param-name>
      <param-value>cn</param-value>
    </init-param>
    <init-param>
      <param-name>age:</param-name>
      <param-value>77</param-value>
    </init-param>
    <init-param>
      <param-name>id:</param-name>
      <param-value>00000000</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitServletDemo</servlet-name>
    <url-pattern>/servlet/InitServletDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InitServletDemo2</servlet-name>
    <servlet-class>com.java.javaweb.servlet.InitServletDemo2</servlet-class>
    <load-on-startup>5</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitServletDemo2</servlet-name>
    <url-pattern>/InitServletDemo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InitServletDemo3</servlet-name>
    <servlet-class>com.java.javaweb.servlet.InitServletDemo3</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitServletDemo3</servlet-name>
    <url-pattern>/servlet/InitServletDemo3</url-pattern>
  </servlet-mapping>
</web-app>