<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd ">

	<bean id="chinaGirlFriend" class="set.ChinaGirlFriend">
		<!-- <property name="language" value="Chinese"></property> -->
		<property name="language">

			<value>chinese</value>
		</property>
	</bean>
	<bean id="boyConstructor" class="set.BoyConstructor">
		<!-- 通过构造方法注入对象 -->
		<constructor-arg ref="chinaGirlFriend"></constructor-arg>
	</bean>


	<bean id="japanGirlFriend" class="set.JapanGirlFriend">
		<property name="language" value="japanese"></property>
	</bean>
	<bean id="boySetter" class="set.BoySetter">
		<!-- 通过setter方法注入对象 -->
		<property name="girlFriend" ref="japanGirlFriend"></property>
	</bean>



	<bean id="usaGirlFriend" class="set.UsaGirlFriend" p:language="english">
	</bean>
	<bean id="boyPNameSpace" class="set.BoyPNameSpace"
		p:girlFriend-ref="usaGirlFriend">
		<!-- 通过p命名空间方法注入对象 -->

	</bean>

</beans>